.home-page{
    overflow: hidden;
}
.main-screen {
    display: flex;
    width: 100%;
    height: 100vh;
    min-height: 700px;
    max-height: 1000px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    &__bg{
        background-image: url(../assets/images/bye-russia-press.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: calc(100vh - 124px);
        min-height: 576px;
        max-height: 876px;
        top: 0;
        position: absolute;
        z-index: 0;
        width: 100vw;
    }
    &__title {
        font-family: 'Anton', sans-serif;
        font-weight: normal;
        text-align: center;
        text-shadow: 4px 4px 20px #5B0000;
        color: #FF0000;
        position: relative;
        span{
            display: block;
            &:first-of-type{
                font-size: 230px;
            }
            &:last-of-type{
                font-size: 270px;
            }
        }
    }
    &__undertitle {
        font-family: 'Anton', sans-serif;
        position: relative;
        font-weight: 500;
        text-align: center;
        color: #FFFFFF;
        margin-top: 24px;
        text-shadow: 4px 4px 20px rgba(91, 0, 0, 0.2);
        font-size: 60px;
        margin-top: 64px;
    }
    @include media_desktop{
        &__title{
            span{
                &:first-of-type{
                    font-size: 170px;
                }
                &:last-of-type{
                    font-size: 190px;
                }
            }
        }
        &__undertitle{
            font-size: 48px;
            line-height: 54px;
            max-width: 90%;
        }
    }
    @include media_tablet{
        &__title{
            span{
                &:first-of-type{
                    font-size: 120px;
                }
                &:last-of-type{
                    font-size: 140px;
                }
            }
        }
        &__undertitle{
            font-size: 48px;
            line-height: 54px;
            max-width: 90%;
        }
    }
    @include media_mobile{
        min-height: 540px;
        &__bg{
            min-height: 416px;
        }
        &__title{
            span{
                &:first-of-type{
                    font-size: 70px;
                }
                &:last-of-type{
                    font-size: 80px;
                }
            }
        }
        &__undertitle{
            font-size: 32px;
            line-height: 40px;
            margin-top: 32px;
            max-width: 90%;
        }
    }
}

.news-line{
    width: 100%;
    height: 124px;
    position: absolute;
    bottom: 0;
    .support-tag{
        font-family: $font-title;
        color: #000AFF;
        font-size: 2em;
        @include media_mobile{
            font-size: 0.7em;
        }
    }
    .time{
        background: rgba(166, 0, 0, 0.89);
        border-radius: 8px;
        color: #ffffff;
        padding: 6px 16px;
        margin-left: 12px;
        height: 34px;
        display: block;
        @include media_mobile{
            margin-left: 0px;
            height: auto;
            padding: 12px 8px;
        }
    }
    .date{
        display: flex;
        align-items: center;
    }
    .day-date{
        @include media_mobile{
            display: none;
        }
    }
    &_top{
        height: 68px;
        display: flex;
        &_left{
            background: #FFE600;
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &_right{
            width: 70%;
            background: linear-gradient(180deg, #000000 0%, #3F3F3F 100%);
            font-family: $font-title;
            color: #FFFFFF;
            font-size: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
            @include media_mobile{
                font-size: 1em;
                padding: 0px 8px;
            }
        }
    }
    &_btm{
        display: flex;
        font-family: $font-title;
        color: #000000;
        font-size: 1.5em;
        align-items: center;
        position: relative;
        @include media_mobile{
            font-size: 0.7em;
        }
        &_left{
            background: #FFFFFF;
            width: 25%;
            padding: 10px 32px;
            @include media_mobile{
                padding: 0px 8px;
            }
        }
        &_right{
            background: #EED347;
            height: 54px;
            overflow: hidden;
            width: 75%;
            @include media_mobile{
                font-size: 2em;
            }
        }
    }
}

.brands-animation {
    display: flex;
    white-space: nowrap;
    align-items: center;
    height: 100%;
    z-index: 0;
    &__item{
        padding-left: 2%;
        animation: ticker-kf 24s linear infinite;
    }
}

@keyframes ticker-kf {
    0% {
      transform: translate3d(0, 0, 0);
    }
  
    100% {
      transform: translate3d(-108rem, 0, 0);
    }
  }

.brands-section {
    display: flex;
    width: 100%;
    height: 100vh;
    min-height: 700px;
    max-height: 1000px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 48px;
    &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
    }
    &__sidebar {
        width: 25%;
        height: 100%;
        max-width: 284px;
        background: #000000;
        box-shadow: 2px 2px 30px 4px rgba(61, 59, 146, 0.1);
        padding: 32px 16px;
        overflow-y: scroll;
        position: relative;
        &__title {
            font-size: 24px;
            line-height: 26px;
            color: #ffffff;
            text-align: center;
            font-family: $font-title;
        }
        @include media_tablet{
            width: 100%;
            height: auto;
            min-width: 110px;
            max-width: 100%;
            padding: 8px 4px;
            position: absolute;
            overflow: auto;
            top: 0px;
            &__title {
                font-size: 14px;
            }
        }
    }
    &__categories {
        margin-top: 16px;
        &__item {
            width: 100%;
            padding: 12px 8px;
            font-weight: 500;
            font-size: 20px;
            line-height: 22px;
            color: #ffffff;
            background-color: #000000;
            cursor: pointer;
            margin: 8px 0px;
            transition: background-color 0.2s ease;
            &__title{
                &::first-letter{
                    text-transform: uppercase;
                }
            }
            &_selected {
                background: linear-gradient(271.94deg, #464646 6.28%, #000000 95.43%);
            }
            &:hover {
                background-color: #ffffff;
                color: rgb(0, 0, 0);
            }
        }
        @include media_tablet{
            display: flex;
            padding-bottom: 16px;
            overflow-x: scroll;
            &__item{
                font-size: 14px;
                margin: 0px;
                padding: 8px;
                background: rgb(63, 63, 63);
                border-radius: 12px;
                height: 40px;
                white-space: nowrap;
                &:not(:last-child){
                    margin-right: 4px;
                }
            }
        }
    }
    &__cards {
        overflow-y: scroll;
        padding: 16px;
        margin-right: -16px;
        margin-bottom: -16px;
        width: 100%;
        height: 100vh;
        margin-left: 24px;
        &__wrapper{
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
        }
        @include media_mobile{
            margin-left: 0px;
            margin-top: 0px;
            padding: 8px;
        }
        &__item {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 20%;
            max-width: 200px;
            min-width: 180px;
            margin: 8px;
            height: auto;
            cursor: pointer;
            &__link{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: #000000;
                padding: 16px;
                border-radius: 24px;
                box-shadow: 2px 2px 20px 5px rgba(61, 59, 146, 0.1);
                background-color: #FFFFFF;
                overflow: hidden;
                &:hover {
                    box-shadow: 1px 1px 10px 2px rgba(61, 59, 146, 0.05);
                    transition: box-shadow 0.2s ease;
                }
            }
            &__logo {
                width: 80%;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;               
                }
            }
            &__title {
                text-align: center;
                margin-top: 24px;
                font-family: $font-content;
                font-weight: 900;
                font-size: 18px;
                text-decoration: none;
            }
            @include media_mobile{
                width: 47%;
                margin: 4px;
                min-width: 120px;
                max-width: 100%;
                &__link{
                    padding: 8px;
                }
                &__title{
                    margin-top: 8px;
                    font-size: 14px;
                }
                &__logo{
                    height: 70px;
                }
            }
        }
        @include media_mobile{
            margin-left: 0;
            &__wrapper{
                justify-content: space-between;
            }
        }
    }
}